* {
    margin: 0;
    padding: 0;
}

/*Propriétés du conteneur principal: la bibliothèque*/
#conteneur {
    background-color: #501515;
    width: 400px;
    height: 700px;
    margin: 100px auto;
}

/*Propriétés des étagères - conteneurs flex*/
#conteneur .etagere {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #501515;
    border: 8px solid #802020;
    width: 384px;
    height: 100px;

    /*Propriétés de base de la majorité des conteneurs flex*/

}

#conteneur .etagere:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}

div:nth-child(2)>div:nth-child(even){
    flex-grow: 1;
}

#conteneur .etagere:nth-child(3){
    display: flex;
    justify-content: center;
}

div:nth-child(3)>div:nth-child(5){
    order: 1;
}

#conteneur .etagere:nth-child(4){
    display: flex;
    justify-content: space-around;
}

div:nth-child(4)> div:nth-child(even){
    order: 1;
}

#conteneur .etagere:nth-child(5){
    display: flex;
    justify-content: space-between;
}

#conteneur .etagere:nth-child(6){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/*Propriétés des livres*/
.livre {
    background-color: #fce171;
    color: #501515;
    text-align: center;
    font: bold 14px Arial;
    border: 2px solid #818106;
}

.vertical {
    width: 5%;
    height: 75%;
}

.horizontal {
    width: 40%;
    height: 15%;
    text-align: left;
    padding-left: 1%;
}